/* the tree node's style */
.menu_main {
  overflow-y: auto;
}

.tree-view {
  overflow-y: auto;
  font-weight: 700;
  font-size: 16px;
}

.menu_main>.tree-view>.tree-view_item {
  color: #1c1c1c;
  padding: 5px;
  font-weight: 700;
  border-bottom: 1px solid #c1c1c1;
  background: linear-gradient(180deg, #f1f1f1 0, #d7d7d7);
  /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f1f1f1", endColorstr="#d7d7d7", GradientType=0); */
  font-size: 16px;
  text-decoration: none;
  display: block;
  outline: 0;
}

.menu_main>.tree-view>.tree-view_children {
  background-color: #007219;
  color: #f5f5f5;
}
.menu_main>.tree-view>.tree-view_children>.tree-view {
  border-bottom: 1px solid #cbcbcb;
}
.tree-view_item {
  cursor: pointer;
  display: flex !important;
  align-items: center;
  padding: 3px;
}

.tree-view_item:focus {
  color: #d69309;
  cursor: pointer;
}

.tree-view_children-collapsed {
  height: 0px;
}
.tree-view_arrow {
  width: 10px;
  height: 10px;
  background-image: url(../images/icons/caret-down-solid.svg);
  background-repeat: no-repeat;
  background-size: 8px;
  margin : 10px 10px 14px 6px;
}
.tree-view_children>.tree-view>.tree-view_item>.tree-view_arrow {
  width: 10px;
  height: 10px;
  background-image: url(../images/icons/caret-down-solid-white.svg);
  background-repeat: no-repeat;
  background-size: 8px;
  margin: 12px 12px 12px 6px;
}
/* rotate the triangle to close it */
.tree-view_arrow-collapsed {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.node, .node .info {
  cursor: pointer;
  display: flex !important;
}
.node {
  width: 100%;
}
.sport-icon {
  width: 20px;
  margin-right: 7px;
}
.tree-view_children>.tree-view>.tree-view_children>div {
  padding: 9px 0 9px 30px;
  border-top : 1px solid #cbcbcb;
}
.node_third {
  cursor: pointer;
}