.ptt {
    padding-top: 20px;
}

.left {
    width: calc(16% - 9px);
    min-width: 220px;
}

.center {
    width: calc(65% - 30px);
    min-width: 220px;
}

.right {
    width: calc(20% + 10px);
    ;
    min-width: 200px;
}

.match {
    width: 92%;
}

.match-header {
    color: #000;
    padding: 10px;
    margin: 3px;
    background: linear-gradient(180deg, #a6aab5 0, #38393c 99%);
}

#betradarSportTypes,
#dates {
    font-size: 13px;
}

.finished-match-item>* {
    float: left;
    width: 15%;
    padding: 13px 10px 6px 20px;
}

.league-title {
    color: #fff;
    background-color: #38393c;
    padding: 8px 10px 7px 50px;
}

.finished-match-item {
    width: 100%;
    background: #efefef;
}

.match-content {
    font-size: 13px;
}