.transactions {
    overflow-y: auto;
    margin-top: 50px;
    height: calc(100vh - 120px);
    font-size: 13px;
}

.transactions>.status {
    padding: 10px;
}

.transactions>.status>label {
    color: black;
    font-weight: 500;
    text-align: start;
}

.transactions>.status>* {
    width: 100%;
    font-size: 14px;
    padding: 3px;
    margin-bottom: 0px;
}

#bets_period {
    margin-bottom: 10px;
}

.match-header {
    display: flex;
    font-size: 14px;
    margin-top: 10px;
    background: linear-gradient(180deg, #b5bdc8 0, #828c95 36%, #28343b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b5bdc8", endColorstr="#28343b", GradientType=0);
    width: 100%;
    color: #fff;
    font-weight: 700;
    padding: 5px 0;
}

.match-header div {
    padding: 3px;
}

.match-body>div {
    border-bottom: solid 1px #28343b;
}

.bet-result-wait {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 700;
    padding: 3px;
}

.bet-result-win {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: white;
    background-color: #0b7029;
    padding: 3px;
}

.bet-result-lost {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: white;
    background-color: red;
    padding: 3px;
}

.bet-result-win>div,
.bet-result-lost>div {
    font-weight: 700;
    font-size: 13px;
}

.back-button,
.betslip-createbarcode-button {
    border: 0;
    background-color: gray;
    padding: 7px 10px;
    color: #fff;
    font-size: 14px;
}

.status {
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
}

.status>div {
    width: 100%;
    padding: 10px;
}

.result-awaited {
    background: linear-gradient(180deg, #606c88 0, #3f4c6b);
}

.win {
    background: linear-gradient(180deg, #6bba70 0, #6bba70);
}

.lost {
    background: linear-gradient(180deg, #a90329 0, #8f0222 44%, #6d0019);
}

.row-data {
    font-size: 14px;
}

.yellow-text {
    color: #f3a038;
    font-weight: 700;
}

.betslip-detail-rows {
    border: 1px solid #ccc;
}

.betslip-detail-row,
.betslip-detail-row-title {
    border-bottom: 1px solid #ccc;
    padding: 3px;
}

.bets-waiting>p {
    padding-top: 3px;
}

.bet-detail-icon svg {
    width: 15px;
    order: 1;
}

.hold {
    display: none;
}

.direction-rotate {
    transform: rotateZ(90deg);
}