.header {
  background-color: #38393c;
  min-width: 1280px;
  width: 100%;
  top: 0;
}

.top {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  margin: auto;
}

.login_form {
  font-size: 13px;
  margin: 5px 0;
  display: flex;
  float: right;
  border: 1px solid #0d0c0c;
  padding: 7px;
  background-color: #312c32;
  border-radius: 3px;
}
.login_form>div {
  padding-bottom: 1px;
}
.login_btn {
  padding: 3px 11px;
  text-align: center;
  background-color: var(--primary-color);
  color: #ffffff;
  border: 1px solid #333;
  border-radius: 3px;
}

.textbox {
  float: left;
  margin-right: 10px;
}

.inputbox {
  height: 27px;
  border-radius: 3px;
  border: 1px solid #bbb;
  padding: 5px 3px;
}

.border-top {
  border-top: 10px solid var(--primary-color) !important;
}

.bottom {
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-bottom: 0 none;
  background-image: linear-gradient(180deg, #f3f3f3 0, #e7e7e7);
  box-shadow: 0 3px 10px 0 #777;
}

.content {
  width: 92%;
  margin: auto;
  padding: 0;
}

.menu {
  float: left;
  margin-left: 263px;
}

.menu-item {
  cursor: pointer;
  padding: 13px 34px;
  font-size: 18px;
  position: relative;
  overflow: hidden;
  color: #404040;
  font-weight: 400;
  float: left;
  border-right: 1px solid #ccc;
  /* background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0) 5%, #fff); */
}

.menu-item:first-child {
  border-left: 1px solid #ccc;
}

.menu-item:hover {
  padding: 13px 34px;
  font-size: 18px;
  position: relative;
  overflow: hidden;
  color: #404040;
  font-weight: 400;
  float: left;
  border-right: 1px solid #ccc;
  box-shadow: inset 0px -16px 10px 0px rgb(0 0 0 / 17%);
  background: transparent;
}

.active {
  padding: 13px 34px;
  font-size: 18px;
  position: relative;
  overflow: hidden;
  color: #404040;
  font-weight: 400;
  float: left;
  border-right: 1px solid #ccc;
  box-shadow: inset 0px -16px 10px 0px rgb(0 0 0 / 17%);
  background: transparent;
}

.dropdownbtn {
  padding-top: 10px;
  float: right;
  margin-right: 40px;
}

.dropdownbtn>.dropbtn1 {
  font-size: 13px;
  display: flex;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  border: 1px solid #bababa;
  box-shadow: 0 0 0 1px #fff;
  background: linear-gradient(180deg, #fff 0, #cfcfcf);
  padding: 4px 21px;
  min-width: 100px;
  margin: 0 24px;
  cursor: pointer;
  color: black;
}

.dropbtn1>.span:focus,
.nav-item>a:focus {
  color: #0d0c0c;
}

.language {
  margin-right: 3px;
  width: 20px;
  vertical-align: middle;
}
.logoutbtn {
  cursor: pointer;
}
.logoutbtn>svg {
  width: 13px;
  margin: 0 0 3px 8px;
}
.logined>div {
  margin-top: 4px;
  padding-left: 5px;
  padding-right: 5px;
}

.logined>div:first-child {
  border-left: 0px;
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  /* background-color: #000;
  opacity: .6; */
}
.modal-title {
  line-height: 1.5;
  font-size: 19px;
}
.cancel {
  background-color: #971f1e !important;
}
.language-list {
  margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}
