.betpanel {
    float: right;
    font-size: 13px;
    width: 100%;
    background-color: #dddddd;
    padding: 5px;
    border-radius: 5px;
}

.chashoutbtn {
    display: block;
    cursor: pointer;
    width: 100%;
    margin: 0 0 5px 0;
    background-color: var(--primary-color);
    border-radius: 3px;
    color: white;
    padding-top:  5px;
}
.chashoutbtn:hover {
    color: #000;
}

.chashoutbtn>div>svg {
    width: 16px;
}

.bet-type-btn>p {
    cursor: pointer;
    margin: 5px;
    width: 50%;
    background-color: white;
    color: black;
    padding: 7px 5px;
    text-align: center;
}

.bet-totals>.btn-reset {
    background-color: var(--secondary-color);
    float: left;
    padding: 25px 10px;
    margin: 5px;
    text-align: center;
    color: #f5f5f5;
    height: 65px;
}

.focus {
    background-color: var(--secondary-color) !important;
    color: white !important;
}

.totals {
    font-size: 11px !important;
    width: 80%;
}

.totals>div {
    line-height: 1;
}

.selected-bets {
    margin: 5px 0;
    padding: 5px 0;
    background: #fff;
    font-size: 11px;
    min-height: 160px;
    overflow-y: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.comb {
    font-size: 11px;
    background-color: white;
    padding: 3px;
}

.bet-slip .place-bet p {
    border: 1px solid #333;
    margin: 5px;
    padding: 5px 10px;
    background: #fff;
    border-radius: 3px;
    float: left;
    color: #000;
    cursor: pointer;
}

.payingamount {
    width: 100%;
    text-align: right;
    border: 1px solid grey;
}
.payingamount:focus {
    border: 1px solid black !important;
}

.place-bet p {
    border: 1px solid #333;
    margin: 5px;
    padding: 5px 10px;
    background: #fff;
    border-radius: 3px;
    float: left;
    color: #000;
}

.btn-place-bet {
    cursor: pointer;
    width: 98%;
    background-color: var(--primary-color) !important;
    text-align: center;
    color: white !important;
}
.btn-place-bet:hover {
    color: #000 !important;
}
.instead {
    padding-right: 3px;
}
.cancel {
    background-color: #971f1e !important;
}