.load_style {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: #00000096;
}

.load_content {
    width: 90px;
    height: 90px;
    position: fixed;
    inset: calc(50% - 45px);
    border: 1px solid rgba(0 0 0 0.2);
    background: rgb(255 255 255);
    overflow: unset;
    border-radius: 3px;
    outline: none;
    padding: 20px 14px 14px 14px;
    z-index: 1000;
}

.load_content i {
    animation-duration: 1.3s;
}

.m_load_content {
    width: 56px;
    height: 56px;
    position: fixed;
    inset: calc(50% - 28px);
    border: 1px solid rgba(0 0 0 0.2);
    background: rgb(255 255 255);
    overflow: unset;
    border-radius: 3px;
    outline: none;
    padding: 10px;
    z-index: 1000;
}