.load_style {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: #00000096;

}

.load_content {
    width: 100px;
    height: 100px;
    position: fixed;
    inset: calc(50% - 50px);
    border: 1px solid rgba(0 0 0 0.2);
    background: rgb(255 255 255);
    overflow: unset;
    border-radius: 3px;
    outline: none;
    padding: 10px;
    z-index: 1000;
}
.load_content i {
    font-size: 80px;
    animation: load 3s linear infinite;
}
@keyframes load {
    0% {transform: rotate(0deg);}
    10% {transform: rotate(36deg);}
    20% {transform: rotate(72deg);}
    30% {transform: rotate(108deg);}
    40% {transform: rotate(144deg);}
    50% {transform: rotate(180deg);}
    60% {transform: rotate(216deg);}
    70% {transform: rotate(252deg);}
    80% {transform: rotate(288deg);}
    90% {transform: rotate(324deg);}
    100% {transform: rotate(360deg);}
}