.m-navbar,
.m-subnavbar > div:first-child {
    display: block;
    width: 100%;
    background-color: #000000;
    overflow: auto;
}

.m-navbar i,
.m-subnavbar i {
    font-size: 35px;
}

.m-navbar .login {
    font-size: 17px;
    color: #25851f !important;
    border: solid 1px #25851f;
    text-align: center;
    align-self: center;
}

.m-navbar .top-nav {
    float: left;
    padding: 4px;
    color: #bbbbbb;
    font-size: 17px;
    cursor: default;
}

.sidenav {
    width: 0px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
}

.openside {
    width: 55%;
    overflow-y: scroll;
}

.sidenav p {
    cursor: default;
    padding: 12px;
    text-decoration: none;
    font-size: 25px;
    color: #dbdbdb;
    display: block;
    transition: 0.3s;
    border-bottom: solid 1px #b1b1b1;
}
.sidenav > .pan {
    color: #999999;
    background-color: #0f0f0f;
}
.m-subnavbar > div {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.m-subnavbar > div::-webkit-scrollbar {
    display: none;
}
.m-subnavbar > div:last-child > div {
    background-color: white;
    color: #000000;
    display: -webkit-box !important;
    margin: 5px;
}
.m-subnavbar .item {
    float: left;
    padding: 6px 6px 0px 6px;
    color: white;
    cursor: default;
    margin: 0px 4px 0px 4px;
}
.m-subnavbar .leagues {
    color: #000000;
    width: 25%;
}

.m-subnavbar p {
    font-size: 12px;
    text-align: center;
}
.m-subnavbar .item i {
    font-size: 30px;
}
.m-subnavbar .leagues i {
    font-size: 28px;
}

.item-active {
    border-bottom: solid 3px #25851f;
}