.m-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    width: 100%;
    background-color: #000000;
    overflow: auto;
    font-size: 13px;
    z-index: 6;
}

.m-footer i {
    font-size: 24px;
}

.m-footer .item {
    float: left;
    padding: 8px;
    color: white;
    text-decoration: none;
    cursor: default;
    width: 20%;
}

.m-footer .login {
    color: #25851f;
    border: solid 1px #25851f;
    text-align: center;
    align-self: center;
}

.footer-active {
    color: #25851f;
}

.bet-slip-active {
    width: 31px;
    background-color: #25851f;
    border-radius: 15px;
    color: #fff;
    padding: 4px;
    font-weight: 700;
    display: inline-block;
    margin-top: -6px;
    font-size: 15px;
    text-align: center;
}

/*  */
.bet-pan {
    position: absolute;
    z-index: 9;
}

.oddmodal-header {
    position: fixed;
    top: 53px;
    background-color: #1e1e1e;
    color: #fff;
    padding: 3px;
    width: 100%;
}

.oddmodal-header .title span {
    font-size: 14px;
}

.oddmodal-body {
    height: calc(100% - 213px);
    overflow: auto;
    position: fixed;
    width: 100%;
    top: 90px;
    background-color: #fff;
}

.betslip-type {
    display: flex;
}

.betslip-type p {
    font-size: 14px;
}

.betslip-type p.tab-selected {
    font-weight: 700;
}

.combinations {
    margin: 10px 20px;
    font-size: 14px;
}

.betslip-type p:last-child {
    border-right: 0;
}

.betslip-type p {
    width: 50%;
    display: block;
    background-color: #fc0;
    color: #000;
    border-right: 1px solid #7a7a7a;
    text-align: center;
    padding: 5px;
}

.oddmodal-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.oddmodal-footer .summary {
    background-color: #fc0;
    font-size: 10px;
    padding: 5px;
    width: 40%;
    float: left;
    height: 86px;
}

.oddmodal-footer .summary .summary-row {
    width: 100%;
}

.oddmodal-footer .summary .summary-row .value {
    float: right;
}

.betslip-stake {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    background-color: #dfdfdf;
}

.place-bet {
    background-color: #2db343;
    display: block;
    width: 30%;
    color: #fff !important;
    text-align: center;
    height: 86px;
    float: left;
    font-size: 12px;
    padding-top: 34px;
}

.betslip-stake .stake-input {
    padding: 9px 40px 7px;
    background-color: #fff;
    font-size: 18px;
}

.stake-button {
    align-items: center;
    display: inline-block;
    justify-content: center;
    height: 100%;
    width: 20%;
    border: 1px solid #d5d5d5;
    padding: 5px;
    color: #666;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    background: linear-gradient(180deg, #fff 0, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6);
}

.tip,
.tips,
.tip-row {
    width: 100%;
}

.tip {
    display: flex;
    padding: 5px;
    border-bottom: 1px solid #d5d5d5;
    float: left;
    width: calc(100% - 20px);
}

.tip-row .left-col {
    width: 15%;
    float: left;
    text-align: center;
}

.tip-row .tip-col {
    font-size: 14px;
}

.tip-row .middle-col {
    width: calc(70% - 20px);
}

.middle-col {
    float: left;
}

.right-col {
    float: right !important;
}

.tip-row .right-col {
    width: 15%;
    float: left;
}

.remove-btn {
    width: 20px;
    float: right;
    padding-top: 30px;
}

.tip div span {
    margin: 10px;
    width: 33px;
    height: 37px;
    color: white;
    font-size: 15px;
    padding-top: 8px;
    text-align: center;
}

.btn-bank {
    margin: 10px;
    width: 33px;
    height: 37px;
    color: white;
    font-size: 15px;
    border: 1px solid #7a7a7a;
    padding-top: 8px;
    text-align: center;
    background-color: #acacac;
}

.calculator {
    position: fixed;
    z-index: 25;
    /* top: 51%; */
    bottom: inherit;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    font-size: 14px;
}

.opencalc {
    width: 100%;
    overflow-y: scroll;
}

.opacity-back {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 21;
    background: #00000096;
}

.calculator .possible-winning-text,
.calculator .possible-winning-value {
    display: block;
    width: 50%;
    height: 2em;
    line-height: 2;
    font-size: 1.3em;
}

.calculator .modal-dialog {
    height: 100%;
    overflow: auto;
}

.calculator .modal-body {
    padding: 1px;
}

.calculator .numpet-input {
    display: block;
    text-align: right;
    height: 2.5em;
    line-height: 2em;
    font-size: 1.5em;
    border: 1px solid;
    border-color: #000;
}

.calculator .num-quick {
    display: block;
    background: #fc0;
    height: 2.75em;
    line-height: 2.75;
    font-size: 1.3em;
    text-align: center;
    width: 20%;
    float: left;
    margin-bottom: 5px;
    border: 1px solid #fff;
    border-radius: 2px;
}

.calculator .num-btn {
    background: #d5d5d5;
    border: 1px solid #fff;
    text-align: center;
    height: 3em;
    line-height: 3em;
    font-size: 1.3em;
}

.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}

.calculator .double-line {
    height: 100% !important;
    line-height: 6.0625em;
    padding-top: 30px;
}

.calculator .num-btn {
    background: #d5d5d5;
    border: 1px solid #fff;
    text-align: center;
    height: 3em;
    line-height: 3em;
    font-size: 1.3em;
}

.calculator .calc-num {
    padding: 1px !important;
}

.calculator .calc-num-pan {
    padding-left: 13px;
    padding-right: 13px;
}

.height-50 {
    height: 50%;
}

.bet-confirm-modal {
    position: absolute;
    z-index: 9;
    background-color: white;
    bottom: 0px;
}

.bet-confirm {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.bet-confirm a {
    font-size: 13px;
    color: white !important;
    width: 40%;
    text-align: center;
    vertical-align: middle;
}