.ptt {
    padding-top: 20px;
}
.left {
    width: calc(16% - 9px);
    min-width: 212px;
}
.center {
    width: calc(65% - 30px);
    min-width: 840px;
}
.right {
    width: calc(20% + 10px);;
    min-width: 200px;
}