.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    height: calc(100vh - 150px);
    overflow: auto;

    background-repeat: no-repeat;
    background-size: 100% auto;
    border-bottom: 0 none;
    background-image: linear-gradient(180deg, #f3f3f3 0, #e7e7e7);
    box-shadow: 0 3px 10px 0 #777;
    margin-right: 10px;

}

.sidebar div {
    cursor: pointer;
    width: 100%;
    display: block;
    color: black;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
}
.sidebar>div {
    display: flex;
    border-bottom: solid 1px #ddd;
}
.sidebar>div span {
    width: 25px;
}
.sidebar>div span i {
    display: flex;
    justify-content: center;
}
.sidebar>div p {
    margin-left: 10px;
    color: black;
}
.sidebar>div.admin-active {
    width: 100%;
    background-color: var(--primary-color);
}
.sidebar>div.admin-active p, .sidebar>div.admin-active i {
    color: white;
}
.sidebar>div:hover:not(.admin-active) {
    background-color: #555;
    color: white;
}
.sidebar>div:hover:not(.admin-active) p {
    color: white;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar p {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar p {
        text-align: center;
        float: none;
    }
}

.admin-main {
    width: calc(100% - 220px);
    border: 1px solid #ccc;
    font-size: 14px;
}

.admin-main form label {
    width: 200px;
    padding: 19px;
}

.admin-main input[type=text],
.admin-main input[type=password] {
    border: solid 1px #c9c9c9;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    background: #f1f1f1;
}

.admin-main input[type=text]:focus,
.admin-main input[type=password]:focus {
    border: solid 1px #c9c9c9;
    border-radius: 5px;
    background-color: #ddd;
    outline: none;
}

.btn-register {
    font-size: 14px;
    padding: 8px;
    color: #ffffff;
    background-color: var(--primary-color);
}

.custom-select,
.custom-select option {
    height: 50px !important;
    border-radius: 5px;
}